.form-busca {
    margin: 40px 0;
    display: block;

    .flex-container {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 16px 0;
    }

    .drop-container {
      max-width: 230px;
  }

    .input-container {
        margin-bottom: -1.25em;
    }

    .mat-button-toggle-checked {
        background-color: #F7F2FA;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    mat-chip {
        .inner {
            overflow: visible;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 992px) {
        .flex-container {
            flex-wrap: wrap;
        }

        .drop-container, mat-form-field {
            flex-grow: 1;
        }
    }

    @media screen and (max-width: 768px) {
        h2 {
            font-size: 24px;
        }

        .flex-container {
            flex-direction: column;
            align-items: stretch;
            gap: 16px;

            mat-button-toggle-group {
                width: 100%;
                display: flex;

                mat-button-toggle {
                    flex: 1;
                }
            }
        }

        .drop-container {
            max-width: none;
        }

        button[mat-icon-button] {
            transform: rotate(90deg);
            margin: -8px auto;
        }
    }
}
