.homepage {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    .card-wrapper {
      justify-content: center;
    }
    h2 {
      font-size: 24px;
    }
  }
}
